#fill .edit-title {
	padding : 10px 0;
	text-align: center;
	font-size: 28px;
}
#fill h3 {
	font-size: 30px;
	text-indent: 20px;
}
#fill li {
	list-style: none;
	padding: 5px;
}
#fill input {
	list-style: none;
	margin-right: 20px;
}
#fill .fill-is-required {
	margin-right: 5px;
	font-size: 20px;
	color : red;
	display: inline-block;
	vertical-align: middle;
}